<div class="container">

  <div class="login-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="image">
  </div>
  <div class="login-content">
    <div class="login-header">
      <h1>Welcome to RealEstate</h1>
      <p>Please login to use the platform</p>
    </div>
    <form class="login-form" autocomplete="off">
      <div class="login-form-content">
        <div class="form-item">
          <label for="emailForm">Enter Email</label>
          <input type="text" id="emailForm">
        </div>
        <div class="form-item">
          <label for="passwordForm">Enter Password</label>
          <input type="password" id="passwordForm">
        </div>
        <div class="form-item">
          <div class="checkbox">
            <input type="checkbox" id="rememberMeCheckbox" checked>
            <label class="checkboxLabel" for="rememberMeCheckbox">Remember me</label>
          </div>
        </div>
        <button class="btn-sign-in" type="submit">Sign In</button>
      </div>
      <div class="login-form-footer">
        <div>
          <a href="#">
            <img width="30"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1365px-Facebook_f_logo_%282019%29.svg.png">
            Facebook Login
          </a>
        </div>
        <div>
          <a href="#">
            <img width="30"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK5q0FP74VV9wbfwP378_7kj7iDomHuKrxkXsxDdUT28V9dlVMNUe-EMzaLwaFhneeuZI&usqp=CAU">
            Google Login
          </a>
        </div>
        <div class="grid-span-2">
          <a href="#">
            <img width="30" src="assets/images/guest_icon.png">
            Login with guest
          </a>
        </div>

      </div>
    </form>
  </div>
</div>
