<div class="opt-login">
  <div class="opt-login-card">
    <h1>Welcome to My website</h1>
    <h5>Please login for use the platform</h5>
    <label for="">Enter Email</label>
    <input type="text">
    <label for="">Enter Password</label>
    <input type="text">
    <div>
      <input id="cbRemember" type="checkbox">
      <label for="cbRemember">Remember me</label>
    </div>
    <h6>LOGING WITH</h6>
    <button class="btn-signin">SIGN IN</button>
    <button class="btn-signin"><i class="fa fa-facebook"></i>Facebook</button>
    <button class="btn-signin"><i class="fa fa-google"></i>Google</button>

  </div>
  <div class="opt-login-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="">
  </div>
</div>
